<header id="header-home">
    <div>
        <span>{{dadosUser.nome}}</span>
    </div>

    <div>
        <a {{#if homeActive}} class="active-menu" {{/if}} href="/home">Contas</a> 
        <span class="text-white mx-1" style="opacity: .3;">|</span>
        <a {{#if adicionarActive}} class="active-menu" {{/if}} href="/adicionar">Adicionar</a>
    </div>
</header>


<div class="mb-4">
    <a class="btn-sair text-danger" href="/logout">Sair</a>
</div>



<main class="text-center">
     <h1 class="text-success mb-5">Suas Contas</h1>

     <div class="container px-4">
          <div class="row p-2 mb-4" style="background-color: #D9D9D9;">
              <div class="col-5 text-dark text-start fw-bold">Conta</div>
              <div class="col-3 text-dark text-start fw-bold">Vencimento</div>
              <div class="col-4 text-dark text-end fw-bold">Valor</div>
          </div>


          {{#each dadosUser.contas}}
          <form action="/verConta" method="post" class="mb-3">

            <input type="hidden" value="{{this.id}}" name="idConta">

            <button class="submit-click-conta" type="submit">
                <div class="row p-2" style="background-color: #d9d9d997;">
                  <div style="font-size: 12px;" class="align-self-center col-5 text-dark text-start">{{this.nome}}</div>
                  <div style="font-size: 12px;" class="align-self-center col-3 text-dark text-start">{{this.vencimento}}</div>
                  <div style="font-size: 12px;" class="align-self-center col-4 text-dark text-end">{{this.valor}} R$</div>
                </div>
            </button>

          </form>
          {{/each}}


     </div>
</main>