{{#if dadosUser.boasVindas}}
<div id="popup">

        <div class="content-popup bg-dark rounded d-flex flex-column align-items-center">
            <h4 class="text-center mb-3">Bem vindo <span style="color: orange;">{{dadosUser.nome}}</span>!</h4>

            <p class="text-center">Organize suas contas mensais com facilidade. Adicione e controle suas despesas de forma simples. Receba lembretes por email dois dias antes do vencimento. Mantenha tudo organizado e em dia. <br> <br> Seja bem-vindo(a) e aproveite a praticidade de nossa ferramenta!</p>

            <form action="/concluirBoasVindas" method="post">
                <input type="hidden" value="{{dadosUser.id}}" name="id">
                <button type="submit" class="btn btn-success mt-2">INICIAR</button>
            </form>
        </div>

</div>
{{/if}}



{{#if messages.pago}}
<div class="popup-acoes">
    <div class="content-popup bg-dark rounded d-flex flex-column align-items-center">
        <h4 class="text-center text-success">Conta paga!</h4>

        <img src="/img/success.png" class="my-4">

        <button onclick="fecharModal()" class="btn btn-success mt-2">Ir para home</button>
    </div>
</div>
{{/if}}


{{#if messages.deletado}}
<div class="popup-acoes">
    <div class="content-popup bg-dark rounded d-flex flex-column align-items-center">
        <h4 class="text-center text-danger">Conta deletada!</h4>

        <img src="/img/delete.png" class="my-4">

        <button onclick="fecharModal()" class="btn btn-success mt-2">Ir para home</button>
    </div>
</div>
{{/if}}


{{#if messages.editado}}
<div class="popup-acoes">
    <div class="content-popup bg-dark rounded d-flex flex-column align-items-center">
        <h4 class="text-center text-secondary">Conta editada!</h4>

        <img src="/img/edit2.png" class="my-4">

        <button onclick="fecharModal()" class="btn btn-success mt-2">Ir para home</button>
    </div>
</div>
{{/if}}


{{#if messages.criado}}
<div class="popup-acoes">
    <div class="content-popup bg-dark rounded d-flex flex-column align-items-center">
        <h4 class="text-center text-white">Conta criada!</h4>

        <img src="/img/edit.png" class="my-4">

        <button onclick="fecharModal()" class="btn btn-success mt-2">Ir para home</button>
    </div>
</div>
{{/if}}




<header id="header-home">
    <div>
        <span>{{dadosUser.nome}}</span>
    </div>

    <div>
        <a {{#if homeActive}} class="active-menu" {{/if}} href="/home">Contas</a> 
        <span class="text-white mx-1" style="opacity: .3;">|</span>
        <a {{#if adicionarActive}} class="active-menu" {{/if}} href="/adicionar">Adicionar</a>
    </div>
</header>


<div class="mb-4 d-flex justify-content-between">
    <a class="btn-sair" href="/logout"><img src="/img/sair.png"></a>
    <a class="btn-menu"><img onclick="abrirMenu()" src="/img/menu.png"></a>
</div>



<main class="text-center" style="height: 65vh; overflow-y: auto;">

    {{#if contasNaoPagas}}
     <h1 class="text-success mb-5">Suas Contas:</h1>

     <div class="container px-4">
          <div class="row p-2 mb-4" style="background-color: #D9D9D9;">
              <div class="col-5 text-dark text-start fw-bold">Conta</div>
              <div class="col-3 text-dark text-start fw-bold">Vencimento</div>
              <div class="col-4 text-dark text-end fw-bold">Valor</div>
          </div>


            {{#each contasNaoPagas}}
            <form action="/verConta" method="post" class="mb-3">
                <input type="hidden" value="{{this.id}}" name="idConta">

                <button class="submit-click-conta" type="submit">
                    <div class="row p-2" style="background-color: #d9d9d997;">
                    <div style="font-size: 12px;" class="align-self-center col-5 text-dark text-start">{{this.nome}}</div>
                    <div style="font-size: 12px;" class="align-self-center col-3 text-dark text-start">{{this.vencimento}}</div>
                    <div style="font-size: 12px;" class="align-self-center col-4 text-dark text-end">{{this.valorParcela}} R$</div>
                    </div>
                </button>
            </form>
            {{/each}}

            <div class="row p-2 mb-3 mt-4" style="background-color: #D9D9D9;">
               <div class="col-12 text-dark text-start"><strong>Total do mês: </strong> <span class="text-success fw-bold">{{valorTotal}} R$</span></div>
            </div>

     </div>

    {{else}}
        <h5 class='mt-5 mb-3 text-secondary fs-5'>Sem contas no momento!</h6>

        <a href="/adicionar" class="btn btn-success">Adicionar nova conta</a>
    {{/if}}




{{#if temContasVencendo.tem}}

     <div id="division"></div>

     <div id="vencera" class="container px-3">
        
         <h4 class="text-success text-center mt-3 mb-4">Vencerá nos próximos dias</h4>
         
        {{#each temContasVencendo.contaRed.contas}}
         <form action="/verConta" method="post" class="mb-2">
            <input type="hidden" value="{{this.id}}" name="idConta">

            <button class="submit-click-conta" type="submit">
                <div class="row p-2" style="background-color: #ff000048;">
                    <div style="font-size: 12px;" class="align-self-center col-5 text-dark text-start">{{this.nome}}</div>
                    <div style="font-size: 12px;" class="align-self-center col-3 text-dark text-start">{{this.vencimento}}</div>
                    <div style="font-size: 12px;" class="align-self-center col-4 text-dark text-end">{{this.valor}} R$</div>
                </div>
            </button>
         </form>
        {{/each}}

     </div>

{{/if}}
    





{{#if temContasPagas.tem}}

     <div id="division"></div>

      
     <div id="pago" class="container px-3">
        
         <h4 class="text-success text-center mt-3 mb-4">Contas pagas este mês</h4>
          
        {{#each temContasPagas.contaGreen.contas}}
         <form action="/verConta" method="post" class="mb-2">
            <input type="hidden" value="{{this.id}}" name="idConta">

            <button class="submit-click-conta" type="submit">
                <div class="row p-2" style="background-color: rgba(0, 128, 0, 0.322);">
                    <div style="font-size: 12px;" class="align-self-center col-5 text-dark text-start">{{this.nome}}</div>
                    <div style="font-size: 12px;" class="align-self-center col-3 text-dark text-start">{{this.vencimento}}</div>
                    <div style="font-size: 12px;" class="align-self-center col-4 text-dark text-end">{{this.valor}} R$</div>
                </div>
            </button>
         </form>
        {{/each}}

     </div>

{{/if}}

</main>


<footer id="footer-login" class="text-center py-3 mt-5 text-white">
        © 2023 Todos os direitos reservados.Criado por <a href="http://freeladev.online" style="color: orangered">Freela Dev</a>
</footer>