{{#if dadosUser.boasVindas}}
<div id="popup">

        <div class="content-popup bg-dark rounded d-flex flex-column align-items-center">
            <h4 class="text-center mb-3">Bem vindo <span style="color: orange;">{{dadosUser.nome}}</span>!</h4>

            <p class="text-center">Organize suas contas mensais com facilidade. Adicione e controle suas despesas de forma simples. Receba lembretes por email dois dias antes do vencimento. Mantenha tudo organizado e em dia. <br> <br> Seja bem-vindo(a) e aproveite a praticidade de nossa ferramenta!</p>

            <form action="/concluirBoasVindas" method="post">
                <input type="hidden" value="{{dadosUser.id}}" name="id">
                <button type="submit" class="btn btn-success mt-2 px-5">INICIAR</button>
            </form>
        </div>

</div>
{{/if}}



{{#if messages.pago}}
<div class="popup-acoes">
    <div class="content-popup bg-dark rounded d-flex flex-column align-items-center">
        <h4 class="text-center text-success">Conta paga!</h4>

        <img src="/img/success.png" class="my-4">

        <a href="/" class="btn btn-success mt-2 px-5">OK</a>
    </div>
</div>
{{/if}}


{{#if messages.deletado}}
<div class="popup-acoes">
    <div class="content-popup bg-dark rounded d-flex flex-column align-items-center">
        <h4 class="text-center text-danger">Conta deletada!</h4>

        <img src="/img/delete.png" class="my-4">

        <a href="/" class="btn btn-success mt-2 px-5">OK</a>
    </div>
</div>
{{/if}}


{{#if messages.editado}}
<div class="popup-acoes">
    <div class="content-popup bg-dark rounded d-flex flex-column align-items-center">
        <h4 class="text-center text-secondary">Conta editada!</h4>

        <img src="/img/edit2.png" class="my-4">

        <a href="/" class="btn btn-success mt-2 px-5">OK</a>
    </div>
</div>
{{/if}}


{{#if messages.criado}}
<div class="popup-acoes">
    <div class="content-popup bg-dark rounded d-flex flex-column align-items-center">
        <h4 class="text-center text-white">Conta criada!</h4>

        <img src="/img/edit.png" class="my-4">

        <a href="/" class="btn btn-success mt-2 px-5">OK</a>
    </div>
</div>
{{/if}}



{{#if messages.nomeAtualizado}}
<div class="popup-acoes">
    <div class="content-popup bg-dark rounded d-flex flex-column align-items-center">
        <h4 class="text-center text-white">Nome atualizado!</h4>

        <img src="/img/edit.png" class="my-4">

        <a href="/" class="btn btn-success mt-2 px-5">Ok</a>
    </div>
</div>
{{/if}}


{{#if messages.userAtualizado}}
<div class="popup-acoes">
    <div class="content-popup bg-dark rounded d-flex flex-column align-items-center">
        <h4 class="text-center text-white">Nome de usuário atualizado!</h4>

        <img src="/img/edit.png" class="my-4">

        <a href="/" class="btn btn-success mt-2 px-5">Ok</a>
    </div>
</div>
{{/if}}


{{#if messages.emailAtualizado}}
<div class="popup-acoes">
    <div class="content-popup bg-dark rounded d-flex flex-column align-items-center">
        <h4 class="text-center text-white">E-mail atualizado!</h4>

        <img src="/img/edit.png" class="my-4">

        <a href="/" class="btn btn-success mt-2 px-5">Ok</a>
    </div>
</div>
{{/if}}


{{#if messages.senhaAtualizado}}
<div class="popup-acoes">
    <div class="content-popup bg-dark rounded d-flex flex-column align-items-center">
        <h4 class="text-center text-white">Senha atualizada!</h4>

        <img src="/img/edit.png" class="my-4">

        <a href="/" class="btn btn-success mt-2 px-5">Ok</a>
    </div>
</div>
{{/if}}







<header id="header-home">
    <div>
        <span>{{dadosUser.nome}}</span>
    </div>

    <div>
        <a {{#if homeActive}} class="active-menu" {{/if}} href="/home">Contas</a> 
        <span class="text-white mx-1" style="opacity: .3;">|</span>
        <a {{#if adicionarActive}} class="active-menu" {{/if}} href="/adicionar">Adicionar</a>
    </div>
</header>




<!--menu escondido-->
<div id="menu-escondido">

    <h3 class="mb-4">MEUS DADOS:</h3>

    <a href="/mudarNome" class="w-100 text-dark" style="text-decoration: none;">
        <div class="w-100 p-3 mb-2 d-flex justify-content-between border">
            <div class="d-flex">
                <div style="width: 35px; height:35px;" class="align-self-center me-3 d-flex justify-content-center align-items-center">
                    <img src="/img/id1.png" class="img-fluid">
                </div>

                <div class="d-flex flex-column">
                    <span class="fw-bold">Nome</span>
                    <span class="text-secondary">{{dadosUser.nome}}</span>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <img class="w-50" src="/img/arrow.png">
            </div>
        </div>
    </a>

    <a href="/mudarUser" class="w-100 text-dark" style="text-decoration: none;">
        <div class="w-100 p-3 mb-2 d-flex justify-content-between border">
            <div class="d-flex">
                <div style="width: 35px; height:35px;" class="align-self-center me-3 d-flex justify-content-center align-items-center">
                    <img src="/img/id2.png" class="img-fluid">
                </div>

                <div class="d-flex flex-column">
                    <span class="fw-bold">Usuário</span>
                    <span class="text-secondary">{{dadosUser.user}}</span>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <img class="w-50" src="/img/arrow.png">
            </div>
        </div>
    </a>

    <a href="/mudarEmail" class="w-100 text-dark" style="text-decoration: none;">
        <div class="w-100 p-3 mb-2 d-flex justify-content-between border">
            <div class="d-flex">
                <div style="width: 35px; height:35px;" class="align-self-center me-3 d-flex justify-content-center align-items-center">
                    <img src="/img/email.png" class="img-fluid">
                </div>

                <div class="d-flex flex-column">
                    <span class="fw-bold">E-mail</span>
                    <span class="text-secondary">{{dadosUser.email}}</span>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <img class="w-50" src="/img/arrow.png">
            </div>
        </div>
    </a>


    <a href="/mudarSenha" class="w-100 text-dark" style="text-decoration: none;">
        <div class="w-100 p-3 mb-2 d-flex justify-content-between border">
            <div class="d-flex">
                <div style="width: 35px; height:35px;" class="align-self-center me-3 d-flex justify-content-center align-items-center">
                    <img src="/img/password.png" class="img-fluid">
                </div>

                <div class="d-flex flex-column">
                    <span class="fw-bold">Senha</span>
                    <span class="text-secondary">*********</span>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <img class="w-50" src="/img/arrow.png">
            </div>
        </div>
    </a>

</div>
<!--menu escondido-->


<div class="mb-4 d-flex justify-content-between justify-content-lg-around">
    <a class="btn-sair" href="/logout"><img src="/img/sair.png"></a>
    <a class="btn-menu"><img onclick="abrirMenu()" src="/img/menu.png"></a>
</div>



<!-- Modal filtro -->
<div class="modal fade" id="modalFiltro" tabindex="-1" aria-labelledby="modalFiltro" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5">Busque por contas específicas</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="/pesquisar" method="post">
          <div class="modal-body">

             <label class="w-100 text-center mb-3">
                Buscar por: 
                <select name="tipoFiltro" class="ms-2 btn btn-secondary btn-sm" onchange="mudarInputFiltro()">
                    <option value="nome">Nome da conta</option>
                    <option value="data">Data da conta</option>
                </select>
             </label>

             <input type="hidden" name="id" value="{{dadosUser.id}}">
             <input type="hidden" name="tela" value="desk" id="tela">

             <div id="containerInputs">
                 <input id="nomeConta" type="text" name="nomeConta" class="form-control" required>
             </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-success">Buscar</button>
          </div>
      </form>

    </div>
  </div>
</div>
<!-- Modal filtro -->






<main class="text-center" style="height: 65vh; overflow-y: auto;">

    {{#if contasNaoPagas}}
     <h1 class="text-success mb-4">Suas Contas:</h1>

     <button type="button" class="btn btn-secondary mb-3" data-bs-toggle="modal" data-bs-target="#modalFiltro">FILTRAR</button>


     <div class="container px-4">
          <div class="row p-2 mb-4" style="background-color: #D9D9D9;">
              <div class="col-5 text-dark text-start fw-bold">Conta</div>
              <div class="col-3 text-dark text-start fw-bold">Vencimento</div>
              <div class="col-4 text-dark text-end fw-bold">Valor</div>
          </div>


            {{#each contasNaoPagas}}
            <form action="/verConta" method="post" class="mb-3">
                <input type="hidden" value="{{this.id}}" name="idConta">

                <button class="submit-click-conta" type="submit">
                    <div class="row p-2" style="background-color: #d9d9d997;">
                    <div style="font-size: 12px;" class="align-self-center col-5 text-dark text-start">{{this.nome}}</div>
                    <div style="font-size: 12px;" class="align-self-center col-3 text-dark text-start">{{this.vencimento}}</div>
                    <div style="font-size: 12px;" class="align-self-center col-4 text-dark text-end">{{this.valorParcela}} R$</div>
                    </div>
                </button>
            </form>
            {{/each}}

            <div class="row p-2 mb-3 mt-4" style="background-color: #D9D9D9;">
               <div class="col-12 text-dark text-start"><strong>Total do mês: </strong> <span class="text-success fw-bold">{{valorTotal}} R$</span></div>
            </div>

     </div>

    {{else}}
        <h5 class='mt-5 mb-3 text-secondary fs-5'>Sem contas no momento!</h6>

        <a href="/adicionar" class="btn btn-success">Adicionar nova conta</a>
    {{/if}}




{{#if temContasVencendo.tem}}

     <div id="division"></div>

     <div id="vencera" class="container px-3">
        
         <h4 class="text-success text-center mt-3 mb-4">Efetuar pagamento</h4>
         
        {{#each temContasVencendo.contaRed.contas}}
         <form action="/verConta" method="post" class="mb-2">
            <input type="hidden" value="{{this.id}}" name="idConta">

            <button class="submit-click-conta" type="submit">
                <div class="row p-2" style="background-color: #ff000048;">
                    <div style="font-size: 12px;" class="align-self-center col-5 text-dark text-start">{{this.nome}}</div>
                    <div style="font-size: 12px;" class="align-self-center col-3 text-dark text-start">{{this.vencimento}}</div>
                    <div style="font-size: 12px;" class="align-self-center col-4 text-dark text-end">{{this.valorParcela}} R$</div>
                </div>
            </button>
         </form>
        {{/each}}

     </div>

{{/if}}
    





{{#if temContasPagas.tem}}

     <div id="division"></div>

      
     <div id="pago" class="container px-3">
        
         <h4 class="text-success text-center mt-3 mb-4">Contas pagas este mês</h4>
          
        {{#each temContasPagas.contaGreen.contas}}
         <form action="/verConta" method="post" class="mb-2">
            <input type="hidden" value="{{this.id}}" name="idConta">

            <button class="submit-click-conta" type="submit">
                <div class="row p-2" style="background-color: rgba(0, 128, 0, 0.322);">
                    <div style="font-size: 12px;" class="align-self-center col-5 text-dark text-start">{{this.nome}}</div>
                    <div style="font-size: 12px;" class="align-self-center col-3 text-dark text-start">{{this.vencimento}}</div>
                    <div style="font-size: 12px;" class="align-self-center col-4 text-dark text-end">{{this.valorParcela}} R$</div>
                </div>
            </button>
         </form>
        {{/each}}

     </div>

{{/if}}

</main>



<footer id="footer-login" class="text-center py-3 mt-5 text-white">
        © 2023 Todos os direitos reservados.Criado por <a href="http://freeladev.online" style="color: orangered">Freela Dev</a>
</footer>


